@* --- Disclaimer------------------------------------ *@

<div class="card">
    <div class="card-header fw-bold">Disclaimer</div>
    <div class="card-body">
        <div>
            By granting access to <span class="fw-bold">@Uca.CompanyName </span>, you acknowledge and agree that:
        </div>

        <div>
            <ol>
                <li><span class="fw-bold">Data Collection: </span> @Uca.CompanyName may collect, use, and disclose your personal information without your consent as permitted by the Anti-Privacy Act.</li>
                <li><span class="fw-bold">No Expectation of Privacy:</span> You should have no expectation of privacy regarding any information you provide or that @Uca.CompanyName collect during your use of this website.</li>
                <li><span class="fw-bold">Third-Party Disclosure:</span> @Uca.CompanyName may share your personal information with third parties, including government agencies, as required or permitted by law.</li>
                <li><span class="fw-bold">Security Measures:</span> There is no guarantee the security against unauthorized access or use.</li>

            </ol>
        </div>
        <div>By granting access to @Uca.CompanyName, constitutes your acceptance of the condition above. If you do not agree with these terms, please do not click the grant access button.</div>
    </div>

    <div class="card-footer">
        <div>
            <span class="fw-bold">Changes to This Disclaimer:</span>
            The owners of this website reserve the right to modify this disclaimer at any time. Your continued use of this website constitutes your acceptance of any changes.
        </div>
    </div>

</div>

@code {
    
    [Parameter]
    public Uc_accessreqModel?            Uca            { get; set; } = new(); 
    
}