<style>
    .card {
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        background: linear-gradient(75deg, #255d00, #a8e6a3); /* Light to dark green gradient */
        color: white;
        
        transition: background 0.3s ease;
        border: none;

    }

    .btn-custom {
        background: linear-gradient(90deg, #007bff, #00c6ff);
        color: white;
        border: none;
        transition: background 0.3s ease;
    }

    .btn-custom:hover {
        background: linear-gradient(90deg, #00c6ff, #007bff);
    }
</style>

<div></div>
<div class="p-2 mt-1 bg-dark ">
    <h6 class="d-flex bg-dark text-white">
        <div class="p-1 text-info">
            <i class="fa-solid fa-tasks"></i>
        </div>
        <div class="p-1">TRANSACTION * @b.Action </div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">

    <_01_001_01PayrollMainPageBtn B="@b"  hdrNo="501"  action="501" txt="Attendance Mgt" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;"> &nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b"  hdrNo="502"  action="502" txt="Payroll Process" ChildAction="ChildAction" />
</div>


<div class="mt-4 d-flex g-4">
    <_01_001_01PayrollMainPageBtn B="@b"  hdrNo="511"  action="511" txt="Earnings" ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="512"  action="512" txt="Loans Mgt" ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="513"  action="513" txt="Deductions" ChildAction="ChildAction"  />


</div>





<div class="p-2 mt-5 bg-dark ">
    <h6 class="d-flex text-white">
        <div class="p-1  text-info"><i class="fa-solid fa-print"></i> </div>
        <div class="p-1">Reports</div>
    </h6>
</div>


<div class="mt-4 d-flex g-4">
    
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="521"  action="521" txt="Payroll Register"   ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="522"  action="522" txt="Payslip"            ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="523"  action="523" txt="Bank Advise"        ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="524"  action="524" txt="Bank Charge"        ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="525"  action="525" txt="Compliance Report"  ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>

</div>


<div class="p-2 mt-5 bg-dark ">
    <h6 class="d-flex text-white">
        <div class="p-1  text-info"><i class="fas fa-screwdriver-wrench"></i></div>
        <div class="p-1">Settings</div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">

    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="531"  action="531" txt="Company Settings"   ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="532"  action="532" txt="User Mgt"           ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="533"  action="533" txt="Chart of Accounts"  ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="534"  action="534" txt="Payroll Group"      ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="535"  action="535" txt="Employee Mgt"       ChildAction="ChildAction"  />
    <div class="" style="width: 1rem;">&nbsp; </div>
    
    @* <_01_001_01PayrollMainPageBtn B="@b" hdrNo="536"  action="536" txt="Employee Rates"     ChildAction="ChildAction"  /> *@
    <div class="" style="width: 1rem;">&nbsp; </div>

</div>




@inject NavigationManager Nav

@code {

    public      B500        b               { get; set; } = new(); 
    
    public      string?      RetAction      { get; set; }      = string.Empty;

    void ChildAction()
    {
        switch (b.Action)
        {
            // --- Transaction ------------------------------------------------
            case "501": 
                Nav.NavigateTo("03/0601",true); // Attendance Entry 
                break; 
                
            case "502":
                Nav.NavigateTo("03/0605",true); //Payroll Process
                break; 
                
            case "511": 
                Nav.NavigateTo("03/0602",true); // Earnings Entry
                break; 
                
            case "512":
                Nav.NavigateTo("03/0603",true); //Loans Management
                break; 
               
            case "513":
                Nav.NavigateTo("03/0604",true); //Deduction Entry 
                break; 


            // --- Reports -------------------------------------------------- 
            case "521":
                Nav.NavigateTo("03/0701",true); //Deduction Entry 
                break; 
            case "522":
                Nav.NavigateTo("03/0702",true); //Deduction Entry 
                break; 
            case "523":
                Nav.NavigateTo("03/0703",true); //Deduction Entry 
                break; 
            case "524":
                Nav.NavigateTo("03/0704",true); //Deduction Entry 
                break; 
            case "525":
                Nav.NavigateTo("03/0705",true); //Deduction Entry 
                break; 
            

                
            // --- Settings --------------------------------------------------
            case "531":
                Nav.NavigateTo("03/0501",true); //Company Settings 
                break; 

            case "532":
                Nav.NavigateTo("03/0506",true); //User Management
                break; 
            
            case "533":
                Nav.NavigateTo("03/0502",true); //Chart of Accounts 
                break; 
            
            case "534":
                Nav.NavigateTo("03/0503",true); //Chart of Accounts 
                break; 
            
            case "535":
                Nav.NavigateTo("03/0504",true); //Chart of Accounts 
                break; 
            

            

            default:
                Nav.NavigateTo("~/03");
                break; 
        }
        
        
        
        StateHasChanged();
    }
    
}