@using HRMvc.Views.BlazorPages.Vars

<div class="bordered mb-2 br-5" >
    <div class="bg-secondary text-white p-2 fw-semibold">Employee Details</div>

    <div class="p-2 bordered-bottom @V.cssVLink">
        <div class="d-flex p-1">
            @* ----- Position----------*@
            <div class="w-150p">Company Name</div>
            <div>
                <h5>@UC.CoName</h5>
            </div>
        </div>
    </div>
    

    <div class="p-2 bordered-bottom @V.cssVLink">
        <div class="d-flex p-2 ">
            @* ----- EmpNumber (varchar(10))----------*@
            <div class="w-150p">Emp. No. </div>
            <div>
                @V.PisEmpmas?.EmpNumber
            </div>
        </div>

        <div class="d-flex p-1">
            @* ----- Fullname ----------*@
            <div class="w-150p">Name </div>
            <div class="d-flex"> <h6> @V.PisEmpmas?.Fullname</h6> </div>
        </div>
    </div>
    


    @* --- Deployment ----------------------- *@
    <div class="p-2 bordered-bottom" >
        <div class="d-flex p-1">
            @* ----- Position----------*@
            <div class="w-150p">Position </div>
            <div> @V.Deprec.Positionname </div>
        </div>

        <div class="d-flex p-1">
            @* ----- Department ----------*@
            <div class="w-150p">Department</div>
            <div>
                @V.Deprec.Depname
            </div>
        </div>

    </div>
    
    @*------- Leave Group  -----------*@
    <div class="p-2 bordered-bottom">
        <div class="d-flex p-1">
            <div class="w-150p">Leave Group</div>
            <div>
                @{
                    var leavegrpname = "Undefined";
                }
                @if (V.Deprec.Leavegrpname?.Length > 0)
                { leavegrpname = V.Deprec.Leavegrpname; }
                @leavegrpname
            </div>
        </div>
    </div>

    @*------- Leave Group  -----------*@
    <div class="p-2 bordered-bottom bg-secondary bg-opacity-10">
        <div class="w-100 fw-bold ">Leave Approver</div>
    </div>


    
    
    @*------- Approver  -----------*@
    <div class="d-flex p-1">
        @* ----- First Approver ----------*@
        <div class="w-150p">First Approver </div>
        <div>
            -
        </div>
    </div>

    <div class="d-flex p-1">
        @* ----- Second Approver ----------*@
        <div class="w-150p">Second Approver</div>
        <div>
            --
        </div>
    </div>

    <div class="d-flex p-1">
        @* ----- Final Approver ----------*@
        <div class="w-150p">Final Approver</div>
        <div>
           ---
        </div>
    </div>


</div>



@code {

[Parameter]     public  V0132               V           { get; set; } = new();
[Parameter]     public  UserClaimsModel     UC          { get; set; } = new();

}
