@using HRApiLibrary.DataAccess._00_Main.Interface
@using HRApiLibrary.DataAccess._10_Pis.Interface
@using HRMvc.Applications._02HR._02Library


@inject NotificationService _NotificationService;
@inject DialogService _DialogService;

<div class="p-2">
    <HRMvc.Applications._02HR.Views.BlazorPages._00Library._02ColumnHdr pageTitle="Education" />
    <div class="h-10p"></div>
    @if (V.Empmas?.Id > 0)
    {
        <div class="p-2 bordered mb-2 w-100">
            <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="New Entry" Click="@InsertRow" Disabled="@(editMode || isLoading)" />
        </div>
    }


    <div class="custom-grid mt-2">
        <RadzenDataGrid Data="@V.Educations"
                        TItem="EmpmasEducateModel"
                        @ref="V.EducationGrid"
                        EditMode="DataGridEditMode.Single"
                        AllowSorting="true"
                        AllowPaging="true"
                        PageSize="10"
                        PageSizeOptions=@(new int[]{5, 10, 20, 30})
                        ColumnWidth="200px"
                        IsLoading="isLoading">
            <Columns>
                <RadzenDataGridColumn TItem="EmpmasEducateModel"
                                      Context="EmpmasEducateModel"
                                      Filterable="false"
                                      Sortable="false"
                                      Width="100%">
                    <HeaderTemplate>
                        <RadzenRow Gap="0" Style="padding-inline-end:1rem;">
                            <RadzenColumn Size="6" class="custom-grid-sm">Details</RadzenColumn>
                            <RadzenColumn Size="5" class="custom-grid-md">Level</RadzenColumn>
                            <RadzenColumn Size="7" class="custom-grid-md">School</RadzenColumn>
                        </RadzenRow>
                    </HeaderTemplate>

                    <Template Context="rec">

                        @* ======= Small Screen =========*@
                        <RadzenStack Gap="0" class="custom-grid-sm">
                            @*-- Level --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="Level" Component="Level" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenDropDown @bind-Value="rec.LEVEL"  Data="V.EducationRefs" TextProperty="Name" ValueProperty="Code"  Disabled="true" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                            @*-- School --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="School" Component="School" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenTextBox @bind-Value="rec.School" Disabled="true" MaxLength="45" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                            @*-- Course --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="Course" Component="Course" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenTextBox @bind-Value="rec.COURSE" Disabled="true" MaxLength="75" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                          

                            @*-- From --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="From" Component="From" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenDatePicker @bind-Value="rec.FROM_" ShowButton="false" Disabled="true" DateFormat="MM dd yyyy" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                            @*-- To --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="To" Component="End" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenDatePicker @bind-Value="rec.TO_" ShowButton="false" ReadOnly Disabled="true" DateFormat="MM dd yyyy" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                        </RadzenStack>

                        @* ======= Large Screen =========*@
                        <RadzenStack Gap="0" class="custom-grid-md">
                            <RadzenRow>
                                @*-- Level / From / To--*@
                                <RadzenColumn Size="5">
                                    <div class="fw-bold">@rec.LEVELNAME</div>
                                    <div class="mt-1">
                                        <RadzenRow RowGap="0">
                                            <RadzenColumn Size="12" SizeLG="12">
                                                From: <span class="text-muted text-decoration-underline">@rec.FROM_.ToString("MMM dd, yyyy")</span>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeLG="12">
                                                To: <span class="text-muted text-decoration-underline">@rec.TO_.ToString("MMM dd, yyyy")</span>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </div>
                                </RadzenColumn>

                                @*-- School  --*@
                                <RadzenColumn Size="7">
                                    <div >@rec.School</div>
                                     <div class="mt-1">
                                         <RadzenRow RowGap="0">
                                            <RadzenColumn Size="12" SizeLG="12">
                                                <div>@rec.COURSE</div>

                                            </RadzenColumn>
                                        </RadzenRow>
                                     </div>
                                </RadzenColumn>

                            </RadzenRow>
                        </RadzenStack>
                    </Template>

                    <EditTemplate Context="rec">
                        @* ======= Small Screen =========*@
                        <RadzenStack Gap="0" class="custom-grid-sm">
                            @*-- Level --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="Level" Component="LevelSm" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenDropDown Data="V.EducationRefs" TValue="string" @bind-Value=rec.LEVEL TextProperty="Name" ValueProperty="Code"
                                                        Name="LevelSm" class="w-100" />
                                        <RadzenRequiredValidator Component="LevelSm" Text="Education level is required" Popup="true" Style="position: absolute; " />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                            @*-- School --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="School" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenTextBox @bind-Value="rec.School" MaxLength="45" Name="SchoolSm"/>
                                        <RadzenRequiredValidator Component="SchoolSm" Text="School is required" Popup="true" Style="position: absolute; " />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                            @*-- Course --*@
                            <RadzenRow AlignItems="AlignItems.Center" class="row">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="Course" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text" class="w-100">
                                        <RadzenTextBox @bind-Value="rec.COURSE" MaxLength="25" Name="CourseSm" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>


                            @*-- From --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="From" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text">
                                        <RadzenDatePicker @bind-Value="rec.FROM_" DateFormat="MM dd yyyy" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                            @*-- To --*@
                            <RadzenRow AlignItems="AlignItems.Center">
                                <RadzenColumn Size="4">
                                    <RadzenLabel Text="To" />
                                </RadzenColumn>
                                <RadzenColumn Size="8">
                                    <RadzenFormField Variant="Variant.Text">
                                        <RadzenDatePicker @bind-Value="rec.TO_" DateFormat="MM dd yyyy" />
                                    </RadzenFormField>
                                </RadzenColumn>
                            </RadzenRow>

                          

                        </RadzenStack>

                        @* ======= Large Screen =========*@
                        <RadzenStack Gap="0" class="custom-grid-md">
                            <RadzenRow Gap=".3rem">

                                @*-- Level --*@
                                <RadzenColumn Size="5">
                                    <RadzenDropDown Data="V.EducationRefs" TValue="string" @bind-Value=rec.LEVEL  TextProperty="Name" ValueProperty="Code"
                                                    Name="LevelLg" class="w-100" Style=" display: block" />
                                    <RadzenRequiredValidator Component="LevelLg" Text="Education level is required" Popup="true" Style="position: absolute; " />
                                    <div class="mt-1">
                                        <RadzenRow RowGap="0">
                                            <RadzenColumn Size="12" SizeMD="6">
                                                <RadzenFormField Text="From" Variant="Variant.Outlined" Style="width:100%" class="custom-form-field">
                                                    <RadzenDatePicker @bind-Value="rec.FROM_" DateFormat="MM/dd/yyyy" class="w-100" />
                                                </RadzenFormField>
                                            </RadzenColumn>
                                            <RadzenColumn Size="12" SizeMD="6">
                                                <RadzenFormField Text="To" Variant="Variant.Outlined" Style="width:100%" class="custom-form-field">
                                                    <RadzenDatePicker @bind-Value="rec.TO_" DateFormat="MM/dd/yyyy" class="w-100" />
                                                </RadzenFormField>
                                            </RadzenColumn>
                                        </RadzenRow>
                                    </div>
                                </RadzenColumn>

                                @*-- School / From / To --*@
                                <RadzenColumn Size="7">
                                    <RadzenTextBox @bind-Value="rec.School" Change="@(args => rec.School = args.ToString().Trim())" class="w-100" Name="SchoolLg" MaxLength="75" Style=" display: block" />
                                    <RadzenRequiredValidator Component="SchoolLg" Text="School is required" Popup="true" Style="position: absolute; " />
                                    <div class="mt-1">
                                        <RadzenFormField AllowFloatingLabel="false" Text="Course" Variant="Variant.Outlined" Style="width:100%" class="custom-form-field">
                                            <RadzenTextBox @bind-Value="rec.COURSE" class="w-100" MaxLength="120" />
                                        </RadzenFormField>
                                    </div>
                                </RadzenColumn>
                            </RadzenRow>
                        </RadzenStack>
                    </EditTemplate>

                </RadzenDataGridColumn>

                @* Actions Column *@
                <RadzenDataGridColumn TItem="EmpmasEducateModel" Context="EmpmasEducateModel" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Title="Actions" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="120px">
                    <Template Context="rec">
                        <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Click="@(args => EditRow(rec))" @onclick:stopPropagation="true"></RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Small" Click="@(args => DeleteRow(rec))" class="my-1 ms-1" @onclick:stopPropagation="true"></RadzenButton>
                    </Template>
                    <EditTemplate Context="rec">
                        <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Small" Click="@((args) => SaveRow(rec))"></RadzenButton>
                        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Click="@((args) => CancelEdit(rec))" Size="ButtonSize.Small" class="my-1 ms-1"></RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.ExtraSmall" Click="@(args => DeleteRow(rec))" class="my-1 ms-1"></RadzenButton>
                    </EditTemplate>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
    </div>


</div>

@inject I_10_EmpmasDataAccess _empmas;


@code {

    int empmasId = 0;
    string actionColumnWidth = "100px";


    [Parameter]
    public V222 V { get; set; } = new();

    [Parameter]
    public EventCallback ChildAction { get; set; }
    DataGridEditMode editMode1 = DataGridEditMode.Single;

    List<EmpmasEducateModel?>? empmaseducateToInsert = new();
    List<EmpmasEducateModel?>? empmaseducateToUpdate = new();
    string? errorMsg = string.Empty;
    bool isLoading = true;
    bool editMode = false;
    private int screenWidth;

    protected override async void OnParametersSet()
    {
        if (empmasId != V.SelectedId)
        {
            empmasId = V.SelectedId;

            await Task.Delay(250);
            V.EducationRefs = await _empmas._02EmpmasEducateRef(V.pisdb!, V.conn!);
            V.Educations    = await _empmas._02EmpmasEducateList(empmasId, V.pisdb!, V.conn!);

        }
        isLoading = false;
        StateHasChanged();
    }

    //-- InsertRow ----------------
    private async Task InsertRow()
    {
        errorMsg = string.Empty;
        Reset();

        var rec = new EmpmasEducateModel();
        empmaseducateToInsert!.Add(rec);
        await V.EducationGrid!.InsertRow(rec);
        editMode = true;
    }
    //-- Reset ----------------
    private void Reset()
    {
        empmaseducateToInsert!.Clear();
        empmaseducateToUpdate!.Clear();
    }

    //-- Reset ----------------
    private void Reset(EmpmasEducateModel rec)
    {
        empmaseducateToInsert!.Remove(rec);
        empmaseducateToUpdate!.Remove(rec);
    }

    //-- Edit Row ----------------
    private async Task EditRow(EmpmasEducateModel rec)
    {
        editMode = true;

        if (V.EducationGrid != null)
        {
            Reset();
            empmaseducateToUpdate?.Add(rec);
            await V.EducationGrid.EditRow(rec);
        }
    }
    //-- Delete Row ----------------
    private async Task DeleteRow(EmpmasEducateModel rec)
    {
        if (V.Educations == null) return;
        if (V.EducationGrid == null) return;

        Reset(rec);

        if (V.Educations.Contains(rec))
        {
            if (rec != null)
            {
                var option = await _DialogService.Confirm("Delete " + rec.LEVELNAME + " record?", "Confirm Delete",
                    new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
                if (option == true)
                {
                    await _empmas._04EmpmasEducate(rec!.Id, V.pisdb!, V.conn!);
                    V.Educations.Remove(rec);
                    ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Successfully deleted a record.", Detail = "Record has been deleted from the list.", Duration = 4000 });
                }
            }
        }
        else
        {
            V.EducationGrid.CancelEditRow(rec);
        }
        await V.EducationGrid.Reload();
        editMode = false;
        errorMsg = string.Empty;
    }


    //-- Cancel Edit ----------------
    private async void CancelEdit(EmpmasEducateModel rec)
    {
        errorMsg = string.Empty;
        if (V.EducationGrid == null) return;

        Reset(rec);
        editMode = false;

        V.EducationGrid.CancelEditRow(rec);
        if (rec.Id < 1) return;

        int id = rec.Id;
        // var res = await _mainPis._02EmpmasEmployment(rec.Id, mydb!, conn!);
        // if (res == null) return;
        // Remap_Flds(rec, res);
        await V.EducationGrid.Reload();
    }
    //-- Remap ----------------
    private void Remap_Flds(EmpmasEducateModel destination, EmpmasEducateModel source)
    {

    }
    //-- Save Row ----------------
    private async Task SaveRow(EmpmasEducateModel rec)
    {
        if (V.EducationGrid == null) return;
        if (V.EducationRefs?.Count > 0) rec.LEVELNAME = V.EducationRefs.Where(e => e.Code == rec.LEVEL).FirstOrDefault()?.Name ?? "";

        if (!SafeToSave(rec))
        {
            await V.EducationGrid.UpdateRow(rec);
            return;
        }
        ;

        if (rec.Id == 0)
        {
            rec.EmpmasId = empmasId;
            var res = await _empmas._01EmpmasEducate(rec, V.pisdb!, V.conn!);
            if (res != null)
            {
                rec.Id = res.Id;
                V.Educations!.Add(rec);
                ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Successfully added a record.", Detail = "Record has been added to the list.", Duration = 4000 });
            }
        }
        else
        {
            await _empmas._03EmpmasEducate(rec.Id, rec, V.pisdb!, V.conn!);
            ShowNotification(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Successfully updated a record.", Detail = "Record has been updated from the list.", Duration = 4000 });
        }
        await V.EducationGrid.UpdateRow(rec);
        editMode = false;
        errorMsg = string.Empty;
    }
    //-- Safe to Save ----------------
    private bool SafeToSave(EmpmasEducateModel rec)
    {
        // if (rec.CompName?.Length == 0 || rec.CompName == null)
        // {
        //     return false;
        // }

        // if (rec.Pos?.Length == 0 || rec.Pos == null)
        // {
        //     return false;
        // }
        return true;
    }

    private void ShowNotification(NotificationMessage message)
    {
        _NotificationService.Notify(message);
    }




}





