@using HRMvc.Applications._02HR._02Library
<style>
    .L222-selected {cursor: pointer;}
    .white {color: white;}
    .white:hover {color: yellow;}
    .white:active {color: black;}
    .green {color: rgb(209, 251, 209);}
    .green:hover {color: yellow;}
    .green:active {color: black;}
    


</style>

<ul class="nav nav-tabs">
  @*--- 1 *@
  <li class="nav-item L222-selected">
    <a class="nav-link green @active1" aria-current="page"  @onclick="(()=>SetActive(1))"> Personal Data </a>
  </li>
  
  @*--- 2 *@
  <li class="nav-item L222-selected">
    <a class="nav-link white @active2"  @onclick="(()=>SetActive(2))">Addresses </a>
  </li>
  
  @*--- 3 *@
  <li class="nav-item L222-selected" >
    <a class="nav-link green @active3" @onclick="(()=>SetActive(3))">Deployment</a>
  </li>
  
  @*--- 4 *@
  <li class="nav-item L222-selected" >
    <a class="nav-link white @active4" @onclick="(()=>SetActive(4))">Employment History</a>
  </li>
  
  @*--- 5 *@
  <li class="nav-item L222-selected" >
    <a class="nav-link green @active5" @onclick="(()=>SetActive(5))">Education</a>
  </li>
  
  @*--- 6 *@
  <li class="nav-item L222-selected" >
    <a class="nav-link white @active6" @onclick="(()=>SetActive(6))">Family</a>
  </li>
  
  
</ul>


<ul class="nav nav-tabs">

    @*--- 7 *@
    <li class="nav-item L222-selected">
        <a class="nav-link green @active7" @onclick="(()=>SetActive(7))">Trainings / Seminars</a>
    </li>
    
    @*--- 8 *@
    <li class="nav-item L222-selected">
        <a class="nav-link green @active8" @onclick="(()=>SetActive(8))"> References </a>
    </li>

    @*--- 9 *@
    <li class="nav-item L222-selected">
        <a class="nav-link white @active9" @onclick="(()=>SetActive(9))">Insurance </a>
    </li>

    @*--- 10 *@
    @* <li class="nav-item L222-selected">
        <a class="nav-link green @active10" @onclick="(()=>SetActive(10))">Compliance</a>
    </li> *@

    @*--- 11 *@
    <li class="nav-item L222-selected">
        <a class="nav-link white @active11" @onclick="(()=>SetActive(11))">Government</a>
    </li>

    @*--- 12 *@
    <li class="nav-item L222-selected">
        <a class="nav-link green @active12" @onclick="(()=>SetActive(12))">Security</a>
    </li>
</ul>



@code {

    string  active1   =   "active "; 
    string  active2   =   ""; 
    string  active3   =   ""; 
    string  active4   =   ""; 
    string  active5   =   ""; 
    string  active6   =   ""; 
    string  active7   =   ""; 
    string  active8   =   ""; 
    string  active9   =   ""; 
    string  active10  =   ""; 
    string  active11  =   ""; 
    string  active12  =   ""; 
    

    [Parameter]
    public V222 V {get; set;} = new();    

    [Parameter]
    public EventCallback ChildAction { get; set; }

    async void SetActive(int no)
    {
        active1 = "underline";
        active2 = "underline";
        active3 = "underline";
        active4 = "underline";
        active5 = "underline";
        active6 = "underline";
        active7 = "underline";
        active8 = "underline";
        active9 = "underline";
        active10 = "underline";
        active11 = "underline";
        active12 = "underline";

        V.TabNo     = no;
        
        switch (no)
        {
            case 1: active1 = "active"; break;

            case 2: active2 = "active"; break;

            case 3: active3 = "active"; break;

            case 4: active4 = "active"; break;

            case 5: active5 = "active"; break;

            case 6: active6 = "active"; break;

            case 7: active7 = "active"; break;

            case 8: active8 = "active"; break;

            case 9: active9 = "active"; break;

            case 10: active10 = "active"; break;

            case 11: active11 = "active"; break;

            case 12: active12 = "active"; break;

            default:
                break;

        }

        await ChildAction.InvokeAsync();

    }

}
