<style>
    .card {
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.01);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        background: linear-gradient(75deg, #255d00, #a8e6a3);
        /* Light to dark green gradient */
        color: white;

        transition: background 0.3s ease;
        border: none;

    }

    .btn-custom {
        background: linear-gradient(90deg, #007bff, #00c6ff);
        color: white;
        border: none;
        transition: background 0.3s ease;
    }

    .btn-custom:hover {
        background: linear-gradient(90deg, #00c6ff, #007bff);
    }
</style>

<div></div>
<div class="p-2 mt-1 bg-dark ">
    <h6 class="d-flex bg-dark text-white">
        <div class="p-1 text-info">
            <i class="fa-solid fa-tasks"></i>
        </div>
        <div class="p-1">System * @b.Action </div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">

    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="201" action="201" txt="Dashboard" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;"> &nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="202" action="202" txt="User Mgt." ChildAction="ChildAction" />
    <div class="" style="width: 1rem;"> &nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="203" action="203" txt="Password Mgt." ChildAction="ChildAction" />
    <div class="" style="width: 1rem;"> &nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="204" action="204" txt="About " ChildAction="ChildAction" />
</div>



<div class="p-2 mt-5 bg-dark ">
    <h6 class="d-flex text-white">
        <div class="p-1  text-info"><i class="fa-solid fa-print"></i> </div>
        <div class="p-1">Data Entry</div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">

    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="211" action="211" txt="Employee Entry" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="212" action="212" txt="Division" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="213" action="213" txt="Department" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="214" action="214" txt="Section" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="215" action="215" txt="Deployment" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="216" action="216" txt="Position" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
</div>

<div class="mt-4 d-flex g-4">
   
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="217" action="217" txt="Designation" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="218" action="218" txt="Status" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="219" action="219" txt="Leave Mgt." ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="220" action="220" txt="Penalty Mgt." ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="221" action="221" txt="Deviation Mgt." ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="222" action="222" txt="Employment Type Mgt." ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>

</div>


<div class="p-2 mt-5 bg-dark ">
    <h6 class="d-flex text-white">
        <div class="p-1  text-info"><i class="fas fa-screwdriver-wrench"></i></div>
        <div class="p-1">Transaction</div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">

    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="231" action="231" txt="Status Management" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="232" action="232" txt="Deployment" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="233" action="233" txt="Deviation" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="234" action="234" txt="Disciplinary Action" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="235" action="235" txt="Reinstatement" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="236" action="236" txt="Change Employment" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
</div>

<div class="mt-4 d-flex g-4">
  
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="237" action="237" txt="Recall Employee" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="238" action="238" txt="Group Recall" ChildAction="ChildAction" />
</div>

<div class="mt-4 d-flex g-4">
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="241" action="239" txt="Leave of Absence" ChildAction="ChildAction" />
</div>



<div class="p-2 mt-5 bg-dark ">
    <h6 class="d-flex text-white">
        <div class="p-1  text-info"><i class="fas fa-screwdriver-wrench"></i></div>
        <div class="p-1">Accountability</div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="251" action="251" txt="Inventory Entry" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="252" action="252" txt="Deployment Entry" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="253" action="253" txt="Inventory Status Entry" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="254" action="254" txt="Equipment Report" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
</div>



<div class="p-2 mt-5 bg-dark ">
    <h6 class="d-flex text-white">
        <div class="p-1  text-info"><i class="fas fa-screwdriver-wrench"></i></div>
        <div class="p-1">Reports</div>
    </h6>
</div>

<div class="mt-4 d-flex g-4">
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="261" action="261" txt="Employee Master List" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="262" action="262" txt="Employee Status Report" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="263" action="263" txt="Manpower Movement" ChildAction="ChildAction" />
</div>

<div class="mt-4 d-flex g-4">
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="264" action="264" txt="On Leave Employee" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="265" action="265" txt="Newly Hired for the Month" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="266" action="266" txt="For Regularization" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
    <_01_001_01PayrollMainPageBtn B="@b" hdrNo="267" action="267" txt="Resigned for the Month" ChildAction="ChildAction" />
    <div class="" style="width: 1rem;">&nbsp; </div>
</div>



@inject NavigationManager Nav
@using HRMvc.Applications._03Payroll.Views.Pages._01

@code {

    public B500 b { get; set; } = new();

    public string? RetAction { get; set; } = string.Empty;

    void ChildAction()
    {
        switch (b.Action)
        {
            case "201":
                Nav.NavigateTo("02/0201", true); // Dashboard
                break;

            case "202":
                Nav.NavigateTo("02/0202", true); // User Mgt.
                break;

            case "203":
                Nav.NavigateTo("02/0203", true); // Password Mgt.
                break;

            case "204":
                Nav.NavigateTo("02/0204", true); // About
                break;




            // --- Data Entry --- //


            case "211":
                Nav.NavigateTo("02/0211", true); // Employee Entry
                break;

            case "212":
                Nav.NavigateTo("02/0212", true); // Department
                break;

            case "213":
                Nav.NavigateTo("02/0213", true); // Division
                break;

            case "214":
                Nav.NavigateTo("02/0214", true); // Section
                break;


            case "215":
                Nav.NavigateTo("02/0215", true); // Deployment
                break;

            case "216":
                Nav.NavigateTo("02/0216", true); // Position
                break;

            case "217":
                Nav.NavigateTo("02/0217", true); // Designation
                break;

            case "218":
                Nav.NavigateTo("02/0218", true); // Status
                break;

            case "219":
                Nav.NavigateTo("02/0219", true); // Leave Mgt
                break;

            case "220":
                Nav.NavigateTo("02/0220", true); // Penalty Mgt
                break;

            case "221":
                Nav.NavigateTo("02/0221", true); // Deviation Mgt.
                break;

            case "222":
                Nav.NavigateTo("02/0222", true); // Employment Type Mgt.
                break;



            //--- Transaction ---//
            case "231":
                Nav.NavigateTo("02/0231", true); // Status Mgt.
                break;

            case "232":
                Nav.NavigateTo("02/0232", true); // Deployment
                break;

            case "233":
                Nav.NavigateTo("02/0233", true); // Deviation
                break;

            case "234":
                Nav.NavigateTo("02/0234", true); // Disciplinary Action
                break;

            case "235":
                Nav.NavigateTo("02/0235", true); // Reinstatement Entry
                break;

            case "236":
                Nav.NavigateTo("02/0236", true); // Change Employment
                break;

            case "237":
                Nav.NavigateTo("02/0237", true); // Leave of Absence
                break;

            case "238":
                Nav.NavigateTo("02/0238", true); // Movement
                break;

            case "239":
                Nav.NavigateTo("02/0239", true); // Recall Employee
                break;

          

            //--- Accountability ---//
            case "251":
                Nav.NavigateTo("02/0251", true); // Inventory Entry
                break;

            case "252":
                Nav.NavigateTo("02/0252", true); // Deployment Entry
                break;

            case "253":
                Nav.NavigateTo("02/0253", true); // Inventory Status Entry
                break;

            case "254":
                Nav.NavigateTo("02/0254", true); // Equipment Report
                break;

            //--- Reports ---//
            case "261":
                Nav.NavigateTo("02/0261", true); // Employee Master List
                break;

            case "262":
                Nav.NavigateTo("02/0262", true); // Employee Status Report
                break;

            case "263":
                Nav.NavigateTo("02/0263", true); // Manpower Movement
                break;

            case "264":
                Nav.NavigateTo("02/0264", true); // On leave Employee
                break;

            case "265":
                Nav.NavigateTo("02/0265", true); // Newly Hired for the month
                break;

            case "276":
                Nav.NavigateTo("02/0276", true); // For Regularization
                break;

            case "277":
                Nav.NavigateTo("02/0277", true); // Resigned for the month
                break;

            default:
                Nav.NavigateTo("~/02");
                break;
        }



        StateHasChanged();
    }

}