@using HRApiLibrary.Models._20_Pay
@using HRMvc.Applications._03Payroll.Views.BlazorPages._00_Utility.Vars
<div class="row mt-2">
    <div class="col p-1">
        <div class="p-1 text-white bg-secondary ">
            <span>Employee Earnings List</span>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th class="w-125p px-2">Date Start</th>
                <th>Acct. Name</th>
                <th class="w-100p text-center">Per day </th>
                <th class="w-125p text-end px-2">Amount</th>
                <th class="w-50p text-center">P1</th>
                <th class="w-50p text-center">P2</th>
                <th class="w-50p text-center">P3</th>
                <th class="w-50p text-center">P4</th>
                <th class="w-50p text-center">P5</th>
                <th class="w-50p text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            
            @if (V?.Fixedearnings != null)
            {
                foreach (var fe in V.Fixedearnings)
                {
                    <tr>
                        <td>@fe.Dstart.ToString("d")</td>
                        <td >@fe.AcctName - [ <span class="text-primary">@fe.PayrollgrpName</span> ]</td>
                        <td class="text-center"><input @bind="@fe.PerdayEarningsB" class="form-check-input" disabled type="checkbox" id="prd2"></td>

                        <td class="text-end">@fe.Amount.ToString("N")</td>
                        <td class="text-center">
                            <input  @bind="@fe.P1B"  class="form-check-input" disabled type="checkbox" id="prd1">
                        </td>
                        <td class="text-center"><input @bind="@fe.P2B" class="form-check-input" disabled type="checkbox" id="prd2"></td>
                        <td class="text-center"><input  @bind="@fe.P3B"  class="form-check-input" disabled type="checkbox" id="prd3"></td>
                        <td class="text-center"><input  @bind="@fe.P4B"  class="form-check-input" disabled type="checkbox" id="prd4"></td>
                        <td class="text-center"><input  @bind="@fe.P5B"  class="form-check-input" disabled type="checkbox" id="prd5"></td>
                        <td class="text-center"><button onclick="@(()=>PickFE.InvokeAsync(fe))" class="btn btn-sm btn-secondary">Select</button></td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>

</div>

@code {

    [Parameter]     public V0602                                V          { get; set; } = new(); 
    [Parameter]     public V00_Pay                              V00        { get; set; } = new();
    [Parameter]     public EventCallback<FixedearningsModel>    PickFE     { get; set; }
    
    

}