@using HRApiLibrary.DataAccess._10_Pis.Interface
@using HRApiLibrary.Models._10_Pis
@using HRMvc.Applications._02HR.Views.BlazorPages._00Library
<div class="card shadow bordered-darkgreen mt-3">
<div class="card-header text-white fw-bold " style="background-color: darkslategrey">
    Item Entry
</div>

<!-- Buttons -->
<div class="bordered bg-black bg-opacity-10 px-2 py-1 bordered-bottom-darkgreen">
    <button onclick="@New" class="btn btn-primary btn-sm">New</button>
    <button onclick="@Save" class="btn btn-secondary btn-sm me-1">Save</button>
       
</div>

<div class="card shadow bordered mt-2 ">
    <div class="card-header text-white  " style="background-color: darkslategrey">
        Item Details
    </div>

    <div class="card-body">
        @* ----- Type (int(10) unsigned)----------*@
        <div class="d-flex flex-wrap g-1 bordered-bottom-darkgreen py-2">
            <div class="w-125p w-sm-100 py-2">Item Type </div>
            <div class="w-350p w-sm-100 ">
                <RadzenDropDown
                    Change="TypeChanged"
                    TValue="int"
                    @bind-Value="@v261.Inv!.TypeId"
                    Data="@v261.InvTypes"
                    TextProperty="Name"
                    ValueProperty="Id"
                    Style="width: 100%; max-width: 350px;" Name="ddTypes"/>

            </div>

        </div>

        @* ----- Name (varchar(80))----------*@
        <div class="d-flex flex-wrap g-1 py-1 mt-1  ">
            <div class="w-125p w-sm-100 py-2">Item Name </div>
            <div class="w-550p w-sm-100 ">
                <RadzenTextBox Placeholder="Name" class="w-100" @bind-Value="@v261.Inv!.Name" MaxLength="80"/>
            </div>
        </div>

        @* ----- Description (text)----------*@
        <div class="d-flex flex-wrap g-1 py-1 bordered-bottom ">
            <div class="w-125p w-sm-100 py-2">Description </div>
            <div class="w-550p w-sm-100 ">
                <RadzenTextArea
                    Name="Remarks"
                    @bind-Value="@v261.Inv.Description"
                    Placeholder="Enter remarks or description..."
                    Rows="3"
                    Style="width:100%;"/>
                @*@<RadzenTextBox Placeholder="Name" class="w-100" @bind-Value="@v261.Inv!.Name" MaxLength="80"/>*@
            </div>
        </div>


        @* ----- Category (int(10) unsigned)----------*@
        <div class="d-flex flex-wrap g-1 bordered-bottom-darkgreen py-2">
            <div class="w-125p w-sm-100 py-2">Inv. Category </div>
            <div class="w-350p w-sm-100 ">
                <RadzenDropDown
                    Change="TypeChanged"
                    TValue="int"
                    @bind-Value="@v261.Inv!.CategoryId"
                    Data="@v261.InvCategorys"
                    TextProperty="Name"
                    ValueProperty="Id"
                    Style="width: 100%; max-width: 350px;" Name="ddTypes"/>

            </div>

        </div>


        <div class="d-flex g-1 py-2">
            <div class="w-125p d-sm-hide py-2 ">&nbsp; </div>
            <div class="w-475p w-sm-100 ">

                @* ----- Make (int(10) unsigned)----------*@
                <div class="w-100 d-flex flex-wrap">
                    <div class="w-75p w-sm-100 py-2">Make </div>
                    <div class="w-375p rw-sm">
                        <RadzenDropDown
                            Change="TypeChanged"
                            TValue="int"
                            @bind-Value="@v261.Inv!.MakeId"
                            Data="@v261.InvMakes"
                            TextProperty="Name"
                            ValueProperty="Id"
                            Style="width: 100%; max-width: 250px;" Name="ddTypes"/>
                    </div>
                </div>

                @* ----- Brand (int(10) unsigned)----------*@
                <div class="w-100 d-flex flex-wrap py-2">
                    <div class="w-75p w-sm-100 py-2">Brand </div>
                    <div class="w-375p rw-sm">
                        <RadzenDropDown
                            Change="TypeChanged"
                            TValue="int"
                            @bind-Value="@v261.Inv!.BrandId"
                            Data="@v261.InvBrands"
                            TextProperty="Name"
                            ValueProperty="Id"
                            Style="width: 100%; max-width: 250px;" Name="ddTypes"/>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>






<div class="card shadow bordered mt-2 ">
    <div class="card-header text-white  " style="background-color: darkslategrey">
        Procurement Details
    </div>

    <div class="card-body">
        @* ----- DatePurchased (date)----------*@
        <div class="d-flex flex-wrap g-1 py-1 mt-1  ">
            <div class="w-125p w-sm-100 py-2">Date Purchased</div>
            <div class="w-550p w-sm-100 ">
                <RadzenDatePicker @bind-Value="@v261!.Inv!.DatePurchased" Name="DPDatePurchased" Format="mm dd, YYYY"/>
            </div>
        </div>

        @* ----- UnitCost (double(10,2))----------*@
        <div class="d-flex flex-wrap g-1 py-1 ">
            <div class="w-125p w-sm-100 py-2">Unit Cost</div>
            <div class="w-550p w-sm-100 ">
                <RadzenNumeric TValue="double" @bind-Value="@v261!.Inv!.UnitCost" Min="0" Max="999999"
                               Format="#,##0.00" Placeholder="0"
                               TextAlign="Radzen.TextAlign.End" ShowUpDown="false"/>
            </div>
        </div>

        @* ----- SerialNo (varchar(25))----------*@
        <div class="d-flex flex-wrap g-1 py-1 mt-1  ">
            <div class="w-125p w-sm-100 py-2">Serial No</div>
            <div class="w-550p w-sm-100 ">
                <RadzenTextBox Placeholder="SerialNo" class="w-100" @bind-Value="@v261!.Inv!.SerialNo" MaxLength="25"/>
            </div>
        </div>

        @* ----- DateWarrantyExpiration (date)----------*@
        <div class="d-flex flex-wrap g-1 py-1 mt-1  ">
            <div class="w-125p w-sm-100 py-2">Warranty Exp.</div>
            <div class="w-550p w-sm-100 ">
                <RadzenDatePicker @bind-Value="@v261!.Inv!.DateWarrantyExpiration" Name="DPDateWarrantyExpiration" Format="mm dd, YYYY"/>
            </div>
        </div>

    </div>
</div>






    <div class="card shadow bordered mt-2 ">
        <div class="card-header text-white  " style="background-color: darkslategrey">
            Deplyment Details
        </div>

        <div class="card-body">

            @* ----- DeploymentId (int(10) unsigned)----------*@
            <div class="d-flex flex-wrap g-1 py-1 mt-1  ">
                <div class="w-125p w-sm-100 py-2">Deployment</div>
                <div class="w-550p w-sm-100 ">
                    <RadzenTextBox Placeholder="Deployment Name" Disabled class="w-100" @bind-Value="@v261.Inv!.Name" MaxLength="80"/>
                </div>
            </div>

            @* ----- DeploymentId (int(10) unsigned)----------*@
            <div class="d-flex flex-wrap g-1 py-1  ">
                <div class="w-125p w-sm-100 py-2">Assigned To</div>
                <div class="w-550p w-sm-100 ">
                    <RadzenTextBox Placeholder="Employee Name" Disabled class="w-100" @bind-Value="@v261.Inv!.Name" MaxLength="80"/>
                </div>
            </div>

            @* ----- DateAssignment (date)----------*@
            <div class="d-flex flex-wrap g-1 py-1  ">
                <div class="w-125p w-sm-100 py-2">Date Assigned</div>
                <div class="w-550p w-sm-100 ">
                    <RadzenDatePicker @bind-Value="@v261!.Inv!.DateAssignment" Disabled Name="DPDateAssignment" Format="mm dd, YYYY"/></div>
            </div>

            @* ----- DateAssignment (date)----------*@
            <div class="d-flex flex-wrap g-1 py-2  bordered-bottom  ">
                <div class="w-125p w-sm-100 py-2">Assignment No.</div>
                <div class="w-550p w-sm-100 ">
                    <RadzenTextBox Placeholder="AssignmentNo" class="w-300p" @bind-Value="@v261!.Inv!.AssignmentNo" Disabled/>
                </div>
            </div>

            @* ----- Status (char(1))----------*@
            <div class="d-flex flex-wrap g-1 py-2  ">
                <div class="w-125p w-sm-100 py-2">Status </div>
                <div class="w-550p w-sm-100 ">
                    <RadzenTextBox Placeholder="Status" class="w-150p" @bind-Value="@v261!.Inv!.Status" Disabled/> </div>
            </div>
        </div>

    </div>
</div>


    
    


@inject IInv_typeDataAccess _type; 



@code {
    [Parameter] public UserClaimsModel? UserClaims { get; set; } = new();

    string?     pisdb   = string.Empty;
    string?     paydb   = string.Empty;
    string?     conn    = string.Empty;

    V261        v261        = new();
    bool        rerender    = false; 

    protected override async void OnInitialized()
    {
        
    }

    protected override async void OnParametersSet()
    {
        if(UserClaims==null) return;
        pisdb = UserClaims.SchemaUserPis;
        paydb = UserClaims.SchemaUserPay;
        conn = UserClaims.Conn;

        if (conn == null ) return;
        if (pisdb == null ) return;
        if (paydb == null) return;
        
        if (rerender) return;
        rerender = true;
        v261.InvTypes = await _type._02(pisdb, conn);
        StateHasChanged();
        
    }
    void New()
    {
    }
    
    void Save()
    {
    }
    
    void Stop()
    {
    }


    void OnSubmit(InvModel model)
    {
                     
    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
    }

    async void TypeChanged()
    {
        
    }

}