@using HRApiLibrary.DataAccess._00_Main.Interface;

@inject I_00MainPisAccess _mainPis;
@inject NotificationService _NotificationService;
@inject DialogService _DialogService;

<div>
    <div class="mt-1 mb-1">
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="New Entry" Click="@InsertRow"
            Disabled="@(editMode)" />
    </div>

    <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter" class="@(errorMsg != string.Empty ? "d-flex mt-2 mb-2" : "d-none mt-2 mb-2")">
        @errorMsg
    </RadzenAlert>

    <RadzenDataGrid Data="@empmasrelativess"
                    TItem="EmpmasRelativesModel"
                    @ref="empmasrelativessGrid"
                    EditMode="DataGridEditMode.Single"
                    AllowSorting=true
                    AllowPaging=true
                    PageSize="10"
                    PageSizeOptions=@(new int[]{5, 10, 20, 30})
                    ColumnWidth="100%"
                    Responsive="true">
        <Columns>
            @*-- Name --*@
            <RadzenDataGridColumn TItem="EmpmasRelativesModel" Property="Name" Title="Name" Width="280px">
                <EditTemplate Context="rec">
                    <RadzenTextBox @bind-Value="rec.Name" class="w-100" />
                </EditTemplate>
            </RadzenDataGridColumn>

            @*-- Date of Birth --*@
            <RadzenDataGridColumn TItem="EmpmasRelativesModel" Property="Birth" Title="Birth" FormatString="{0:MMMM dd, yyyy}">
                <EditTemplate Context="rec">
                    <RadzenDatePicker @bind-Value=@rec.Birth DateFormat="MM / dd / yyyy " Name="Birth" class="w-100"/>
                </EditTemplate>
            </RadzenDataGridColumn>
            @*-- Gender --*@
            <RadzenDataGridColumn TItem="EmpmasRelativesModel" Property="Gender" Title="Gender">
                <EditTemplate Context="rec">
                    <RadzenDropDown @bind-Value="rec.Sex" Data="genders" TextProperty="Category" ValueProperty="Code" Placeholder="Select a Gender" class="w-100"/>
                </EditTemplate>
            </RadzenDataGridColumn>
            @*-- Relationship --*@
            <RadzenDataGridColumn TItem="EmpmasRelativesModel" Property="Relationship" Title="Relationship">
                <EditTemplate Context="rec">
                    <RadzenDropDown  FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" Data="@empmasrelativesrefs" @bind-Value="rec.RelativesRefCode" TextProperty="Name" ValueProperty="Code" Placeholder="Select a Relationship" class="w-100" />
                </EditTemplate>
            </RadzenDataGridColumn>

            @*-- Actions --*@
            <RadzenDataGridColumn TItem="EmpmasRelativesModel" Context="EmpmasrelativesModel" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="@actionColumnWidth">
                <Template Context="rec">
                    <RadzenButton Icon="edit"
                                  ButtonStyle="ButtonStyle.Light"
                                  Variant="Variant.Flat"
                                  Size="ButtonSize.Small"
                                  Click="@(args => EditRow(rec))"
                    @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                  Icon="delete"
                                  Variant="Variant.Flat"
                                  Shade="Shade.Lighter"
                                  Size="ButtonSize.Small"
                                  Click="@(args => DeleteRow(rec))"
                                  class="my-1 ms-1"
                    @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>

                <EditTemplate Context="rec">
                    <RadzenButton Icon="check"
                                  ButtonStyle="ButtonStyle.Success"
                                  Variant="Variant.Flat"
                                  Size="ButtonSize.Small"
                                  Click="@((args) => SaveRow(rec))">
                    </RadzenButton>

                    <RadzenButton Icon="close"
                                  ButtonStyle="ButtonStyle.Light"
                                  Variant="Variant.Flat"
                                  Click="@((args) => CancelEdit(rec))"
                                  Size="ButtonSize.Small" class="my-1 ms-1">
                    </RadzenButton>

                    <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                  Icon="delete"
                                  Variant="Variant.Flat"
                                  Shade="Shade.Lighter"
                                  Size="ButtonSize.ExtraSmall"
                                  Click="@(args => DeleteRow(rec))"
                                  class="my-1 ms-1">
                    </RadzenButton>
                </EditTemplate>

            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>

</div>

@code {
    [Parameter]
    public UserClaimsModel UserClaims { get; set; } = new();

    //-- Initialization ----------------
    RadzenDataGrid<EmpmasRelativesModel?>? empmasrelativessGrid = new();
    bool editMode = false;
    DataGridEditMode editMode1 = DataGridEditMode.Single;

    List<EmpmasRelativesModel?>? empmasrelativess = new();
    EmpmasRelativesModel? empmasrelatives = new();

    List<EmpmasRelativesRefModel?>? empmasrelativesrefs = new();
    List<GenderModel?>? genders = new();

    List<EmpmasRelativesModel?>? empmasrelativessToInsert = new();
    List<EmpmasRelativesModel?>? empmasrelativessToUpdate = new();
    string? errorMsg = string.Empty;
    int userId = 0;
    string? actionColumnWidth = "100px";


    string? pisdb = string.Empty;
    string? paydb = string.Empty;
    string? conn = string.Empty;
    string? mydb = string.Empty;

    public class GenderModel
    {
        public string Category { get; set; } = string.Empty;
        public string Code { get; set; } = string.Empty;
    }

    protected override async void OnParametersSet()
    {
        if (UserClaims == null) return;
        pisdb = UserClaims.SchemaUserPis;
        paydb = UserClaims.SchemaUserPay;
        conn = UserClaims.Conn;

        if (conn == null) return;
        if (pisdb == null) return;
        if (paydb == null) return;

        userId = UserClaims.UserId;
        mydb = "u" + userId.ToString().Trim();
        empmasrelativesrefs = await _mainPis._02EmpmasRelativeReferenceList(mydb, conn);
        genders = new()
        {
            new GenderModel(){Category  = "Male" ,  Code="M"},
            new GenderModel(){Category  = "Female", Code="F"},
            new GenderModel(){Category  = "Others", Code="O"}
        };

        empmasrelativess = await _mainPis._02EmpmasRelativesList(userId, mydb, conn);
        DropDownSelectedValue();
        StateHasChanged();
    }

    void DropDownSelectedValue()
    {
        if (empmasrelativess is null) return;

        foreach (var e in empmasrelativess)
        {
            if (genders is null) return;
            if (empmasrelativesrefs is null) return;

            e!.Gender = genders?.Where(g => g.Code == e.Sex).FirstOrDefault()?.Category!;
            e!.Relationship = empmasrelativesrefs?.Where(r => r.Code == e.RelativesRefCode).FirstOrDefault()?.Name!;
        }
    }

    //-- InsertRow ----------------
    async Task InsertRow()
    {
        errorMsg = string.Empty;
        actionColumnWidth = "125px";
        Reset();

        var rec = new EmpmasRelativesModel();
        empmasrelativessToInsert!.Add(rec);
        await empmasrelativessGrid!.InsertRow(rec);
        editMode = true;
    }
    //-- Reset ----------------
    void Reset()
    {
        empmasrelativessToInsert!.Clear();
        empmasrelativessToUpdate!.Clear();
    }

    //-- Reset ----------------
    void Reset(EmpmasRelativesModel rec)
    {
        empmasrelativessToInsert!.Remove(rec);
        empmasrelativessToUpdate!.Remove(rec);
    }

    //-- Edit Row ----------------
    async Task EditRow(EmpmasRelativesModel rec)
    {
        if (empmasrelativessGrid != null)
        {
            actionColumnWidth = "125px";
            Reset();
            empmasrelativessToUpdate?.Add(rec);
            await empmasrelativessGrid.EditRow(rec);
        }
    }
    //-- Delete Row ----------------
    async Task DeleteRow(EmpmasRelativesModel rec)
    {
        if (empmasrelativess == null) return;
        if (empmasrelativessGrid == null) return;

        Reset(rec);

        if (empmasrelativess.Contains(rec))
        {

            var option = await _DialogService.Confirm("Delete " + rec?.Name + "?", "Confirm Delete",
                     new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
            if (option == true)
            {
                await _mainPis._04EmpmasRelatives(rec!.Id, mydb, conn!);
                empmasrelativess.Remove(rec);
            }
        }
        else
        {
            empmasrelativessGrid.CancelEditRow(rec);
        }
        await empmasrelativessGrid.Reload();
        editMode = false;
        errorMsg = string.Empty;
        actionColumnWidth = "100px";

    }


    //-- Cancel Edit ----------------
    async void CancelEdit(EmpmasRelativesModel rec)
    {
        errorMsg = string.Empty;
        actionColumnWidth = "100px";

        if (empmasrelativessGrid == null) return;

        Reset(rec);
        editMode = false;

        empmasrelativessGrid.CancelEditRow(rec);
        if (rec.Id < 1) return;

        int id = rec.Id;
        var res = await _mainPis._02EmpmasRelatives(id, mydb, conn!);
        if (res == null) return;
        Remap_Flds(rec, res);
        await empmasrelativessGrid.Reload();
    }
    //-- Remap ----------------
    void Remap_Flds(EmpmasRelativesModel destination, EmpmasRelativesModel source)
    {

    }
    //-- Save Row ----------------
    async Task SaveRow(EmpmasRelativesModel rec)
    {
        if (empmasrelativessGrid == null) return;
        if (!SafeToSave(rec)) return;

        rec.EmpmasId = userId;

        if (rec.Id == 0)
        {
            var res = await _mainPis._01EmpmasRelatives(rec, mydb, conn!);
            if (res != null)
            {
                rec.Id = res.Id;
                empmasrelativess!.Add(rec);
            }
        }
        else
        {
            await _mainPis._03EmpmasRelatives(rec.Id, rec, mydb, conn!);
        }

        DropDownSelectedValue();
        await empmasrelativessGrid.UpdateRow(rec);
        editMode = false;
        errorMsg = string.Empty;
        actionColumnWidth = "100px";

    }
    //-- Safe to Save ----------------
    bool SafeToSave(EmpmasRelativesModel rec)
    {
        if (rec.Name is null || rec.Name == string.Empty)
        {
            errorMsg = "Name is required";
            return false;
        }

        if (rec.Name is not null && rec.Name.Length > 80)
        {
            errorMsg = "Name should be at most 80 characters.";
            return false;
        }
        return true;
    }
}
