@using HRApiLibrary.Models._10_Pis
@using HRApiLibrary.Models._90_Utils
@using HRMvc.Views.BlazorPages.Vars

<style>
    .sup-small {
        font-size: 10px; 
    }
</style>

<RadzenDataGrid Data="@V.MyDTR"
                TItem="MyDTRModel"
                EditMode="DataGridEditMode.Single"
                AllowSorting=true
                AllowPaging=false
                PageSize="10"
                PageSizeOptions=@(new int[]{5, 10, 20, 30})
                ColumnWidth="100%">
    <Columns>
        @*-- Day Name ------------------------------------------------------*@
        <RadzenDataGridColumn TItem="MyDTRModel"
                                Title="Day Name"
                              Context="MyDTRModel"
                              Filterable="false"
                              Sortable="false"
                              TextAlign="TextAlign.Center"
                              Width="120px">
            <Template Context="rec">
                @{
                    var textCss = "";
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SUN") { textCss = "text-danger"; } 
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SAT") { textCss = "text-primary"; } 

                }
                <div class="@textCss">
                    @rec.DayName?.Substring(0, 3).ToUpper()
                </div>
            </Template>
        </RadzenDataGridColumn>
        
        @*-- Day ------------------------------------------------------*@
        <RadzenDataGridColumn   TItem="MyDTRModel"
                                Title="Day"
                                Context="MyDTRModel"
                                Filterable="false"
                                Sortable="false"
                                TextAlign="TextAlign.Center"
                                Width="120px">
            <Template Context="rec">
                @{
                    var textCss = "";
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SUN") { textCss = "text-danger"; }
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SAT") { textCss = "text-primary"; }

                }
                <div class="@textCss">
                    <h6>
                        @rec.Date.ToString("dd")
                    </h6>
                    
                </div>
            </Template>
        </RadzenDataGridColumn>
        
        @*-- Duty Type ------------------------------------------------------*@
        <RadzenDataGridColumn   TItem="MyDTRModel"
                                Title="Duty"
                                Context="MyDTRModel"
                                Filterable="false"
                                Sortable="false"
                                TextAlign="TextAlign.Center"
                                Width="120px">
            <Template Context="rec">
                @{
                    var textCss = "";
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SUN") { textCss = "text-danger"; }
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SAT") { textCss = "text-primary"; }

                }
                <div class="@textCss">
                    @rec.DutyType
                </div>
            </Template>
        </RadzenDataGridColumn>
        
        @*-- Time IN ------------------------------------------------------*@
        <RadzenDataGridColumn   TItem="MyDTRModel"
                                Title="Time IN"
                                Context="MyDTRModel"
                                Filterable="false"
                                Sortable="false"
                                TextAlign="TextAlign.Center"
                                Width="120px">
            <Template Context="rec">
                @{
                    var textCss = "";
                    //var timeIn  = ""; 
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SUN") { textCss = "text-danger"; }
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SAT") { textCss = "text-primary"; }

                }
                <div class="@textCss">
                  
                    <div>
                        @if (rec.InTime.HasValue) 
                        {
                            var pIn = rec.InTime.Value.Year<2000 ? "-" : rec.InTime.Value.ToString("t");
                            <div>@pIn</div>
                        }
                        else { <div> - </div> }
                    </div>
                    <div class="text-muted sup-small">
                        @if (rec.InTimeSchedule.HasValue)
                        {
                            <div> @rec.InTimeSchedule.Value.ToString("t")</div>
                        }
                    </div>
                    
                    
                </div>
            </Template>
        </RadzenDataGridColumn>
        
        @*-- Time Out ------------------------------------------------------*@
        <RadzenDataGridColumn   TItem="MyDTRModel"
                                Title="Time Out"
                                Context="MyDTRModel"
                                Filterable="false"
                                Sortable="false"
                                TextAlign="TextAlign.Center"
                                Width="120px">
            <Template Context="rec">
                @{
                    var textCss = "";
                    //var timeIn  = ""; 
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SUN") { textCss = "text-danger"; }
                    if (rec.DayName?.Substring(0, 3).ToUpper() == "SAT") { textCss = "text-primary"; }

                }
                <div class="@textCss">
                  
                    <div>
                        @if (rec.OutTime.HasValue)
                        {
                            var punchOut = rec.OutTime.Value.Year < 2000 ? "-" : rec.OutTime.Value.ToString("t");
                            <div>@punchOut</div>
                        }
                        else { <div> - </div> }
                    </div>
                    <div class="text-muted sup-small">
                        @if (rec.OutTimeSchedule.HasValue)
                        {
                            <div> @rec.OutTimeSchedule.Value.ToString("t") </div>
                        }
                    </div>
                    
                    
                </div>
            </Template>
        </RadzenDataGridColumn>
        
        <RadzenDataGridColumn TItem="MyDTRModel" Property="Remarks" Title="Remarks" >
            
        </RadzenDataGridColumn>
        
    </Columns>
</RadzenDataGrid>


@code {

    [Parameter] public V131             V           { get; set; } = new();
    [Parameter] public EventCallback    ChildAction { get; set; }




}
