@using HRMvc.Applications._02HR._02Library
@using HRMvc.Applications._02HR.Views.BlazorPages._02DataEntry.F222.F222_03; 



<div class="w-100 h-100" style="border:1px solid lightgray; margin-left: 5px; margin-top: 5px; ">
    @* --- Buttons ------------------ *@
    <div class="w-100 p-2" style="border-bottom:1px solid gray; ">
        <btn class="btn btn-secondary" @onclick="NewEntry">New Entry</btn>
    </div>

    @*--- Empmas--------------*@
    <div>
        <_222_03_EmpmasInfo V="@V" ChildAction="ChildAction" />
    </div>
    <div class="mx-1" style="background-color: rgb(25, 97, 25); padding: 5px 3px 0 3px">
        <_222_03_01_Buttons V="@V" ChildAction="ChildAction" />
    </div>
    <div>
        @if(V.TabNo==1)  {<_222_03_Tab01_PersonalData       V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==2)  {<_222_03_Tab02_Address            V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==3)  {<_222_03_Tab03_Deployment         V="@V" ChildAction="ChildAction"   />}
        @* <_222_03_Tab03_Deployment         V="@V" ChildAction="ChildAction"   /> *@
        @if(V.TabNo==4)  {<_222_03_Tab04_Employment         V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==5)  {<_222_03_Tab05_Education          V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==6)  {<_222_03_Tab06_Family             V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==7)  {<_222_03_Tab07_TrainingAndSeminar V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==8)  {<_222_03_Tab08_References         V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==9)  {<_222_03_Tab09_Insurance          V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==10) {<_222_03_Tab10_Compliance         V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==11) {<_222_03_Tab11_Government         V="@V" ChildAction="ChildAction"   />}
        @if(V.TabNo==12) {<_222_03_Tab12_Security           V="@V" ChildAction="ChildAction"   />}
        
    </div>



</div>

@code {

    [Parameter]
    public V222 V {get; set;} = new();    
    
    [Parameter]
    public V222 V222 {get; set;} = new();    

    [Parameter]
    public EventCallback ChildAction { get; set; }

    async void NewEntry()
    {
        V.Action        = "New Entry";
        V.SelectedId    = 0; 
        V.Empmas        = new(); 
        V.Deprec        = new();
        V.ShowDataEntry = true; 

        await ChildAction.InvokeAsync(); 
    }

}
