@using HRMvc.Views.BlazorPages.Vars
@using HRMvc.Views.BlazorPages._01MyProfile._131._131_02

<ul class="list-group mt-2">
    <li class="list-group-item active" aria-current="true">My IN/OUT Template</li>
    <li class="list-group-item">
        <div class="d-flex gap-3">
            <div class="w-150p p-1 bordered-bottom text-center">Attendance Type</div>
            <div class="w-100 fw-semibold p-1 bordered-bottom  bg-secondary bg-opacity-10">@V.AttTemplate?.Attendancetype</div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="d-flex gap-3">
            <div class="w-150p p-1 bordered-bottom text-center">Punch Schedules</div>
            <div class="row w-100 bordered p-2">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule 
                        DayName="Monday" 
                        DutyType="@V.AttTemplate?.D2_dutytype"
                        Duration="@V.AttTemplate?.D2_hrslength"
                        In="@V.AttTemplate?.D2_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule
                        DayName="Tuesday"
                        DutyType="@V.AttTemplate?.D3_dutytype"
                        Duration="@V.AttTemplate?.D3_hrslength"
                        In="@V.AttTemplate?.D3_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule
                        DayName="Wednesday"
                        DutyType="@V.AttTemplate?.D4_dutytype"
                        Duration="@V.AttTemplate?.D4_hrslength"
                        In="@V.AttTemplate?.D4_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule
                        DayName="Thursday"
                        DutyType="@V.AttTemplate?.D5_dutytype"
                        Duration="@V.AttTemplate?.D5_hrslength"
                        In="@V.AttTemplate?.D5_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule
                        DayName="Friday"
                        DutyType="@V.AttTemplate?.D6_dutytype"
                        Duration="@V.AttTemplate?.D6_hrslength"
                        In="@V.AttTemplate?.D6_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule
                        DayName="Saturday"
                        DutyType="@V.AttTemplate?.D7_dutytype"
                        Duration="@V.AttTemplate?.D7_hrslength"
                        In="@V.AttTemplate?.D7_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <_131_02_01_Schedule
                        DayName="Sunday"
                        DutyType="@V.AttTemplate?.D1_dutytype"
                        Duration="@V.AttTemplate?.D1_hrslength"
                        In="@V.AttTemplate?.D1_in"
                        AttType="@V.AttTemplate?.AttendancetypeId"/>
                </div>
                
                
            </div>
        </div>
    </li>

</ul>

@* @{ var ctr = 0; } *@
@* @foreach (TimeZoneInfo timeZone in TimeZoneInfo.GetSystemTimeZones()) *@
@* { *@
@*     ctr++;  *@
@*     <div class="w-100 mb-2"> *@
@*         <div class="d-flex gap-2">  <div class=" w-200p fw-bold">"No. "    </div> <div>@ctr            </div>  </div> *@
@*         <div class="d-flex gap-2">  <div class=" w-200p fw-bold">"ID Length: "    </div> <div>@timeZone.Id.Length            </div>  </div> *@
@*         <div class="d-flex gap-2">  <div class=" w-200p fw-bold">"ID: "    </div> <div>@timeZone.Id            </div>  </div> *@
@*         <div class="d-flex gap-2">  <div class=" w-200p">"Display Name: "  </div> <div>@timeZone.DisplayName   </div>  </div> *@
@*         <div class="d-flex gap-2">  <div class=" w-200p">"Standard Name: " </div> <div>@timeZone.StandardName  </div>  </div> *@
@*         <div class="d-flex gap-2">  <div class=" w-200p">"Daylight Name: " </div> <div>@timeZone.DaylightName  </div>  </div> *@
@*     </div> *@
@* } *@






@code {
    [Parameter] public V131 V { get; set; } = new(); 
}