@using HRApiLibrary.DataAccess._00_Login.Interface;
@using HRApiLibrary.DataAccess._00_Main.Interface;

@inject IHttpClientFactory _factory;
@inject I_00MainPisAccess _mainPis;
@inject I_00_001_LoginAccess _login;

@inject NotificationService _NotificationService;
@inject DialogService _DialogService;


<h2 class="form-section-caption mt-0">References</h2>

<div class="mt-3">
    @* // --- New Button *@
    <div class="mt-1 mb-2">
        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="New Entry" Click="@InsertRow"
            Disabled="@(editMode)" />
    </div>

    @*<div class="text-danger mt-2 mb-2"><h5>@errorMsg</h5></div>*@

    <RadzenAlert AlertStyle="AlertStyle.Danger" ShowIcon="false" Variant="Variant.Flat" Shade="Shade.Lighter" class="@(errorMsg != string.Empty ? "d-flex mt-2 mb-2" : "d-none mt-2 mb-2")">
        @errorMsg
    </RadzenAlert>

    <RadzenDataGrid Data="@empmascharrefs"
                    TItem="EmpmasCharRefModel"
                    @ref="empmascharrefsGrid"
                    EditMode="DataGridEditMode.Single"
                    AllowSorting=true
                    AllowPaging=true
                    PageSize="10"
                    PageSizeOptions=@(new int[]{5, 10, 20, 30})
                    ColumnWidth="100%">
        <Columns >

            <RadzenDataGridColumn TItem="EmpmasCharRefModel" Property="Name" Title="Name" >
                <EditTemplate Context="rec">
                    <RadzenTextBox @bind-Value="rec.Name" Name="Name" class="w-100 d-block"/>
                    <RadzenRequiredValidator Component="Name" Text="Name is required" Popup=true Style="position: absolute" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EmpmasCharRefModel" Property="Addr" Title="Addr" >
                <EditTemplate Context="rec">
                    <RadzenTextBox @bind-Value="rec.Addr" class="w-100" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EmpmasCharRefModel" Property="Tel" Title="Tel">
                <EditTemplate Context="rec">
                    <RadzenTextBox @bind-Value="rec.Tel" class="w-100" />
                </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="EmpmasCharRefModel" Property="Position" Title="Position" >
                <EditTemplate Context="rec">
                    <RadzenTextBox @bind-Value="rec.Position" class="w-100" />
                </EditTemplate>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="EmpmasCharRefModel" Context="EmpmasCharRefModel" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" Width="@actionColumnWidth">
                <Template Context="rec">
                    <RadzenButton Icon="edit"
                                  ButtonStyle="ButtonStyle.Light"
                                  Variant="Variant.Flat"
                                  Size="ButtonSize.Small"
                                  Click="@(args => EditRow(rec))"
                                  @onclick:stopPropagation="true">
                    </RadzenButton>

                    <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                  Icon="delete"
                                  Variant="Variant.Flat"
                                  Shade="Shade.Lighter"
                                  Size="ButtonSize.Small"
                                  Click="@(args => DeleteRow(rec))"
                                  class="my-1 ms-1"
                                  @onclick:stopPropagation="true">
                    </RadzenButton>
                </Template>

                <EditTemplate Context="rec">
                    <RadzenButton Icon="check"
                                  ButtonStyle="ButtonStyle.Success"
                                  Variant="Variant.Flat"
                                  Size="ButtonSize.Small"
                                  Click="@((args) => SaveRow(rec))">
                    </RadzenButton>

                    <RadzenButton Icon="close"
                                  ButtonStyle="ButtonStyle.Light"
                                  Variant="Variant.Flat"
                                  Click="@((args) => CancelEdit(rec))"
                                  Size="ButtonSize.Small" class="my-1 ms-1">
                    </RadzenButton>

                    <RadzenButton ButtonStyle="ButtonStyle.Danger"
                                  Icon="delete"
                                  Variant="Variant.Flat"
                                  Shade="Shade.Lighter"
                                  Size="ButtonSize.ExtraSmall"
                                  Click="@(args => DeleteRow(rec))"
                                  class="my-1 ms-1">
                    </RadzenButton>
                </EditTemplate>

            </RadzenDataGridColumn>
        </Columns>

    </RadzenDataGrid> 

</div>


@code {

    [Parameter]
    public UserClaimsModel UserClaims { get; set; } = new();

    string? pisdb = string.Empty;
    string? paydb = string.Empty;
    string? conn = string.Empty;
    string? mydb = string.Empty;


    protected async override void OnParametersSet()
    {
        if (UserClaims == null) return;
        pisdb = UserClaims.SchemaUserPis;
        paydb = UserClaims.SchemaUserPay;
        conn = UserClaims.Conn;

        if (conn == null) return;
        if (pisdb == null) return;
        if (paydb == null) return;

        int id = UserClaims.UserId;
        mydb = "u" + id.ToString().Trim();

        empmascharrefs = await _mainPis._02EmpmasCharacterReferenceList(id, mydb, conn);
        StateHasChanged();
    }


    //-- Initialization ----------------
    RadzenDataGrid<EmpmasCharRefModel?>? empmascharrefsGrid = new();
    bool editMode = false;
    DataGridEditMode editMode1 = DataGridEditMode.Single;

    List<EmpmasCharRefModel?>? empmascharrefs = new();
    EmpmasCharRefModel? empmascharref = new();

    List<EmpmasCharRefModel?>? empmascharrefsToInsert = new();
    List<EmpmasCharRefModel?>? empmascharrefsToUpdate = new();
    string? errorMsg = string.Empty;

    string actionColumnWidth = "100px";

    //-- InsertRow ----------------
    async Task InsertRow()
    {
        errorMsg = string.Empty;
        actionColumnWidth = "125px";
        Reset();

        var rec = new EmpmasCharRefModel();
        empmascharrefsToInsert!.Add(rec);
        await empmascharrefsGrid!.InsertRow(rec);
        editMode = true;
    }

    //-- Reset ----------------
    void Reset()
    {
        empmascharrefsToInsert!.Clear();
        empmascharrefsToUpdate!.Clear();
    }

    //-- Reset ----------------
    void Reset(EmpmasCharRefModel rec)
    {
        empmascharrefsToInsert!.Remove(rec);
        empmascharrefsToUpdate!.Remove(rec);
    }

    //-- Edit Row ----------------
    async Task EditRow(EmpmasCharRefModel rec)
    {
        if (empmascharrefsGrid != null)
        {
            Reset();
            empmascharrefsToUpdate?.Add(rec);
            await empmascharrefsGrid.EditRow(rec);
            actionColumnWidth = "125px";
        }
    }
    //-- Delete Row ----------------
    async Task DeleteRow(EmpmasCharRefModel rec)
    {
        if (empmascharrefs == null) return;
        if (empmascharrefsGrid == null) return;

        Reset(rec);

        if (empmascharrefs.Contains(rec))
        {

            var option = await _DialogService.Confirm("Delete " + rec?.Name + "?", "Confirm Delete",
                     new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });
            if (option == true)
            {
                await _mainPis._04EmpmasCharacterReference(rec!.Id, mydb, conn!);
                empmascharrefs.Remove(rec);
            }
        }
        else
        {
            empmascharrefsGrid.CancelEditRow(rec);
        }
        await empmascharrefsGrid.Reload();
        editMode = false;
        errorMsg = string.Empty;
        actionColumnWidth = "100px";
    }


    //-- Cancel Edit ----------------
    async void CancelEdit(EmpmasCharRefModel rec)
    {
        errorMsg = string.Empty;
        actionColumnWidth = "100px";

        if (empmascharrefsGrid == null) return;

        Reset(rec);
        editMode = false;

        empmascharrefsGrid.CancelEditRow(rec);
        if (rec.Id < 1) return;

        int id = rec.Id;
        var res = await _mainPis._02EmpmasCharacterReference(id, mydb, conn!);
        if (res == null) return;
        Remap_Flds(rec, res);
        await empmascharrefsGrid.Reload();
    }

    //-- Remap ----------------
    void Remap_Flds(EmpmasCharRefModel destination, EmpmasCharRefModel source)
    {

    }

    //-- Save Row ----------------
    async Task SaveRow(EmpmasCharRefModel rec)
    {
        if (empmascharrefsGrid == null) return;

        if (!SafeToSave(rec)) return;

        rec.EmpmasId = UserClaims.UserId;

        if (rec.Id == 0)
        {
            var res = await _mainPis._01EmpmasCharacterReference(rec, mydb, conn!);
            if (res != null)
            {
                rec.Id = res.Id;
                empmascharrefs!.Add(rec);
            }
        }
        else
        {
            await _mainPis._03EmpmasCharacterReference(rec.Id, rec, mydb, conn!);
        }
        await empmascharrefsGrid.UpdateRow(rec);
        editMode = false;
        errorMsg = string.Empty;
        actionColumnWidth = "100px";

    }

    //-- Safe to Save ----------------
    bool SafeToSave(EmpmasCharRefModel rec)
    {

        if (rec.Name is null)
        {
            errorMsg = "Name is required.";
            return false;
        }

        if (rec.Name is not null & rec?.Name?.Length > 50)
        {
            errorMsg = "Name should be at most 50 characters.";
            return false;
        }

        if (rec?.Addr is not null && rec.Addr.Length > 60)
        {
            errorMsg = "Address should be at most 60 characters.";
            return false;
        }

        if (rec?.Tel is not null && rec.Tel.Length > 45)
        {
            errorMsg = "Telephone No. should be at most 45 characters.";
            return false;
        }

        if (rec.Position is not null && rec.Position.Length > 75)
        {
            errorMsg = "Position should be at most 75 characters.";
            return false;
        }

        return true;
    }


}